@import "../node_modules/css-reset-and-normalize/scss/reset-and-normalize.scss";
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

/* Global Styles */
* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

body,
main {
    padding: 0;
    margin: 0;
}

body {
    color: #1d2d35;
    background-color: #fff7eb;
    position: relative;
    min-height: 100vh;
}

/* Main Container */
main {
    position: relative;
}

main > span {
    margin-bottom: 12px;
}

/* Buttons */
button.add-node {
    position: absolute;
    bottom: 36px;
    right: 12px;
    border-radius: 100%;
    padding-bottom: 3px;
}

button.signout {
    position: absolute;
    bottom: 36px;
    left: 12px;
}

/* Network */
.network {
    width: 100vw;
    height: 100vh;
}

.network.hidden {
    display: none;
}

/* Typography */
h1,
h2,
h3,
h4 {
    color: #1d2d35;
}

h1 {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 36px;
    line-height: 3.6rem;
}

@media only screen and (max-device-width: 700px) {
    h1 {
        font-size: 1.9rem;
        line-height: 2.5rem;
    }
}

h2 {
    font-size: 1.3rem;
    line-height: 2.3rem;
    margin-bottom: 12px;
}

h3,
h4,
h6 {
    font-size: 1.3rem;
    line-height: 2.3rem;
    margin-bottom: 12px;
}

/* Inputs and Selects */
input,
select {
    border: 1px solid rgb(32, 32, 32);
    padding: 6px;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 12px;
}

/* Popups */
section.popup,
section.popup-edge,
section.popup-add-node {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    background-color: white;
    border-radius: 8px;
    display: none;
    box-shadow: 0 6px 8px 0 rgba(163, 163, 163, 0.21);
    z-index: 100;
}

section.popup.visible,
section.popup-edge.visible,
section.popup-add-node.visible {
    display: block;
}

section.popup label,
section.popup-edge label,
section.popup-add-node label {
    margin-bottom: 6px;
    display: block;
}

section.popup button.close,
section.popup-edge button.close,
section.popup-add-node button.close {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: transparent;
    border: none;
}

/* Specific Button Styles */
a,
button:not(.close) {
    align-items: center;
    appearance: none;
    background-color: #fcfcfd;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    color: #36395a;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    padding: 0 16px;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    font-size: 18px;
}

a:focus,
button:not(.close):focus {
    box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

a:hover,
button:not(.close):hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    transform: translateY(-2px);
}

a:active,
button:not(.close):active {
    box-shadow: #d6d6e7 0 3px 7px inset;
    transform: translateY(2px);
}

/* Search Bar */
.search {
    position: absolute;
    z-index: 1000;
    display: flex;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.search input {
    margin-right: 12px;
    min-width: 0;
}

/* Autocomplete Container Styles */
.autocomplete-container {
    position: absolute;
    z-index: 101;
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
}

.autocomplete-container .autocomplete-item {
    padding: 8px 12px;
    cursor: pointer;
}

.autocomplete-container .autocomplete-item:hover {
    background-color: #f0f0f0;
}

/* Specific Containers for Connected-To and Search Autocomplete */
#connected-to-autocomplete,
#search-autocomplete {
    position: absolute;
    z-index: 101;
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    top: 52px;
}

#connected-to-autocomplete .autocomplete-item,
#search-autocomplete .autocomplete-item {
    padding: 8px 12px;
    cursor: pointer;
}

#connected-to-autocomplete .autocomplete-item:hover,
#search-autocomplete .autocomplete-item:hover {
    background-color: #f0f0f0;
}
