@import "../node_modules/css-reset-and-normalize/scss/reset-and-normalize.scss";

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

body {
}

* {
    box-sizing: border-box;
}

body,
main {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    color: #1d2d35;
    background-color: #fff7eb;
    font-family: "Montserrat", sans-serif;
    position: relative;
    min-height: 100vh;
}

main {
    > span {
        margin-bottom: 12px;
    }

    > button.add-node {
        position: absolute;
        bottom: 36px;
        right: 12px;

        &.hidden {
            display: none;
        }
    }

    button.signout {
        position: absolute;
        bottom: 36px;
        left: 12px;

        &.hidden {
            display: none;
        }
    }
}

section.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.network.hidden {
    display: none;
}

h1,
h2,
h3,
h4 {
    color: #1d2d35;
}

h1 {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 36px;
    line-height: 3.6rem;

    @media only screen and (max-device-width: 700px) {
        font-size: 1.9rem;
        line-height: 2.5rem;
    }
}

h2 {
    font-size: 1.3rem;
    line-height: 2.3rem;
    margin-bottom: 12px;
}

h3,
h4,
h6 {
    font-size: 1.3rem;
    line-height: 2.3rem;
    margin-bottom: 12px;
}

input {
    border: 1px solid rgb(32, 32, 32);
    padding: 6px;
    border-radius: 8px;
}

.popup-style {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 6px 8px 0 rgba(163, 163, 163, 0.21);
    z-index: 100;

    select,
    input {
        display: block;
        width: 100%;
        margin-bottom: 12px;
    }

    label {
        margin-bottom: 6px;
        display: block;
    }
}

section.popup,
section.popup-edge,
section.popup-add-node {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    background-color: white;
    border-radius: 8px;
    display: none;
    box-shadow: 0 6px 8px 0 rgba(163, 163, 163, 0.21);
    z-index: 100;

    &.visible {
        display: block;
    }

    select,
    input {
        display: block;
        width: 100%;
        margin-bottom: 12px;
    }

    label {
        margin-bottom: 6px;
        display: block;
    }

    button.close {
        position: absolute;
        top: 12px;
        right: 12px;
        background-color: transparent;
        border: none;
    }
}

/* CSS */
a,
button:not(.close) {
    align-items: center;
    appearance: none;
    background-color: #fcfcfd;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395a;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

a:focus,
button:not(.close):focus {
    box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

a:hover,
button:not(.close):hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
    transform: translateY(-2px);
}

a:active,
button:not(.close):active {
    box-shadow: #d6d6e7 0 3px 7px inset;
    transform: translateY(2px);
}

main #get-started {
    max-width: 300px;
    margin-bottom: 36px;
}

img {
    width: 100%;

    &.screenshot1,
    &.screenshot2 {
        margin-bottom: 36px;
    }
}
