@import "../node_modules/css-reset-and-normalize/scss/reset-and-normalize.scss";

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f9fbfd;
}

* {
    box-sizing: border-box;
}

body,
main {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    color: #1d2d35;
    background-color: #fff7eb;
    font-family: "Montserrat", sans-serif;
    position: relative;
    min-height: 100vh;
    padding-top: 36px;
}

main {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 12px 0;

    > span {
        margin-bottom: 12px;
    }
}

h1,
h2,
h3,
h4 {
    color: #1d2d35;
}

h1 {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 36px;
    line-height: 3.6rem;

    @media only screen and (max-device-width: 700px) {
        font-size: 1.9rem;
        line-height: 2.5rem;
    }
}

h2 {
    font-size: 1.3rem;
    line-height: 2.3rem;
    margin-bottom: 12px;
}

h3,
h4 {
    font-size: 1.3rem;
    line-height: 2.3rem;
    margin-bottom: 36px;
}

section.popup {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    background-color: white;
    border-radius: 8px;
    display: none;

    &.visible {
        display: block;
    }

    select {
        display: block;
    }
}
